* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: start;
}
.weather p {
  font-size: 1.6rem;
}
.weather h1 {
  font-size: 6rem;
}
.weather {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.weather::before {
  content: "";
  background-image: url(https://t3.ftcdn.net/jpg/05/79/86/10/360_F_579861052_KjeAAbyaXOBY6JjxMEPBVJypp2KSb59v.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.container{
    max-width: 700px;
    height: 550px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.weather .top{
    width: 100%;
    margin: 1rem auto;
}
.weather .desc{
    position: relative;
    /* right: -60%; */
    overflow: hidden;
}
.weather .bottom{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    /* align-items: center; */
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    /* font-weight: 700; */
}
.bold{
    font-weight: 700;
}
.weather .serach{
  text-align: center;
  padding: 1rem;
}
.serach input{
  padding: .7rem 1.5rem;
  font-size: 18px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
::placeholder{
  color: #fff;
}